Hello {{order.customer.name}}!

We have received your order {{order.reference}}

Ordered products:

{% for product in order.product_lines %}
    {# the .format() filter fixes field sizes for .txt #}
    {{'%-4s %50s %20s'|format(product.qty, product.name, product.price.final.total)}}
{% endfor %}


Best regards,
{% for shop in shops %}
    {{shop.name}} <{{shop.emails[0].email}}> (NIP: {{shop.business_id}})
{% endfor %}
