<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order received</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
</head>
<body>

<style type="text/css">
    h1, h2, h3, p {
        font-family: 'PT Sans', sans-serif;
    }

    h3 {
        border-bottom: 1px solid #ebebeb;
    }

    p {
    }

    th {
        font-weight: bold !important;
        text-align: left;
    }

    .container {
        max-width: 750px;
        padding: 0px 20px;
        margin: auto;
    }

    table {
        width: 100%;
    }

    .logo {
        text-align: right;
    " }
</style>

<div class="container">
    <div class="logo">
        <img src="https://epp-galeria.app/assets/images/logo.png" width="150"/>
    </div>
    <h1>Order received</h1>
    <p>Dear {{ order.customer.name }}</p>

    <p>We have received your order {{ order.reference }} {{ order.date }} and will handle it within one business day.
        You will receive notifications of your order handling process.</p>

    <h3>Order contents</h3>
    <table>
        <thead>
        <th>Name</th>
        <th>Qty</th>
        <th>VAT%</th>
        <th>Total price</th>
        </thead>
        {% for product in order.product_lines %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.qty }}</td>
                <td>{{ product.vat_category }}</td>
                <td>{{ product.price.final.total }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ order.summary.price }}<br/>(inc. VAT
                {% for vat in order.summary.vats %}{{ vat.vat }}% {{ vat.amount }}
                    {{ order.summary.currency }}{% endfor %})
            </td>
        </tr>
    </table>

    <h3>Delivery method</h3>
    <table>
        <thead>
        <th>Delivery type</th>
        <th>Price</th>
        </thead>
        {% for delivery_method in order.product_lines %}
            {% if delivery_method.type == "delivery_method" %}
                <tr>
                    <td>{{ delivery_method.name }}</td>
                    <td>{{ delivery_method.price.final.total }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>

    <h3>Payment method</h3>
    <table>
        <thead>
        <th>Payment type</th>
        <th>Price</th>
        </thead>
        {% for payment in order.payments %}
        <tr>
            <td>{{ payment.payment_type }}</td>
            <td>{{ payment.amount }}{{ payment.currency }}</td>
        </tr>
        {% endfor %}
    </table>


    <p>Thank you for shopping with us - come back soon!</p>
    {% for shop in shops %}

        <h4><{{ shop.name }}</h4>
        <p>
            {{ shop.phone }}<br/>
            {{ shop.email }}<br/>
            NIP: {{ shop.business_id }}<br/>
            <a href="mailto:{{ shop.emails[0].email }}">Contact us</a><br/>
        </p>
    {% endfor %}
</div>
</body>
