<h1>Asiakas on tehnyt tilauksen laskulla.</h1>
<br/>

<h2>Asiakas</h2>
<div>
    {{ order.data['buyer']['name'] }}
    <br/>
    {{ order.data['buyer']['email'] }}
    <br/>
    {{ order.data['buyer']['phone'] }}
</div>
<br/>

<h2>Tuotteet</h2>
<div>
    <table>
        <thead>
        <tr>
            <td>Koodi</td>
            <td>EAN koodi</td>
            <td>Tuote</td>
            <td>M&auml;&auml;r&auml;</td>
            <td>&agrave; (alv0)</td>
            <td>&agrave; (alvillinen)</td>
            <td>ALV luokka</td>
            <td>&agrave; ALV</td>
            <td>Yhteens&auml; (alv0)</td>
            <td>Yhteens&auml; (alvillinen)</td>
            <td>Yhteens&auml; ALV</td>
        </tr>
        </thead>
        <tbody>
        {% for line in order.data['lines'] %}
        <tr>
            <td>{{ line['code'] }}</td>
            <td>{{ line['ean_code'] }}</td>
            <td>{{ line['name'] }}</td>
            <td>{{ line['quantity'] }}</td>
            <td>{{ line['vat0_price'] }} {{ order.data['summary']['currency'] }}</td>
            <td>{{ line['price'] }} {{ order.data['summary']['currency'] }}</td>
            <td>{{ line['price_type'] }} {{ order.data['summary']['currency'] }}</td>
            <td>{{ line['included_vat'] }} {{ order.data['summary']['currency'] }}</td>
            <td>{{ line['vat0_total_price'] }} {{ order.data['summary']['currency'] }}</td>
            <td>{{ line['total_price'] }} {{ order.data['summary']['currency'] }}</td>
            <td>{{ line['total_included_vat'] }} {{ order.data['summary']['currency'] }}</td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>ALV luokka</td>
            <td></td>
            <td>{{ order.data['summary']['vat0_order_price'] }} {{ order.data['summary']['currency'] }}</td>
            <td>{{ order.data['summary']['order_price'] }} {{ order.data['summary']['currency'] }}</td>
            <td>Yhteens&auml; ALV</td>
        </tr>
        {% for order_vat in order.data['summary']['order_vats'] %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ order_vat['vat'] }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ order_vat['amount'] }} {{ order.data['summary']['currency'] }}</td>
        </tr>
        {% endfor %}
        </tfoot>
    </table>
</div>
<br/>

<h2>Maksutapa</h2>
<div>
    Tunniste: {{ order.data['payment_method']['uuid'] }}
    <br/>
    {{ order.data['payment_method']['name'] }}
    <br/>
    {{ order.data['payment_method']['description'] }}
</div>
<br/>

<h2>Toimitustiedot</h2>
<div>
    {{ order.data['delivery_address']['name'] }}
    <br/>
    {{ order.data['delivery_address']['street_address'] }}
    <br/>
    {{ order.data['delivery_address']['postal_code'] }}
    <br/>
    {{ order.data['delivery_address']['country'] }}
</div>
<br/>

<h2>Toimitustapa</h2>
<div>
    Tunniste: {{ order.data['delivery_method']['uuid'] }}
    <br/>
    {{ order.data['delivery_method']['name'] }}
    <br/>
    {{ order.data['delivery_method']['description'] }}
</div>
