<!DOCTYPE html>
<html>
<head>
    <title>Kiitos tilauksesta</title>
    <link href="https://fonts.googleapis.com/css?family=Mukta+Malar" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style type="text/css">
        html, body {
            background: #fff;
            text-align: center;
            font-family: 'Mukta Malar', sans-serif;
            padding: 0px;
            margin: 0px;
        }

        table {
            margin: auto;
            text-align: left;
            max-width: 795px;
        }

        tr, th, td {
            margin: 0;
            padding: 0;
        }

        td {
            padding-bottom: 10px;
        }

        p {
            color: #616161;
        }

        h1, h2, h3 {
            color: #4CAF50;
        }

        a {
            text-decoration: none;
            color: #4CAF50;
        }

        .logo {
            max-width: 280px;
            padding: 50px 0px 50px 0px;
        }

        .material-icons {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px; /* Preferred icon size */
            display: inline-flex;
            vertical-align: middle;
            line-height: 1;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: normal;
            white-space: nowrap;
            direction: ltr;
            color: #4CAF50;
        }

        .sovellus {
            background: url(https://demo.epharma.fi/img/side_splasher1.jpg) center center no-repeat;
            width: 795px;
            height: 364px;
        }

        .epharma {
            background: url(https://epharma.fi/wp-content/uploads/2017/08/cropped-brand-md-dark-228x97-1.png) center center no-repeat;
            height: 100px;
        }

        .sovelluslinkki {
            color: #fff;
            text-decoration: none;
            margin-left: 50px;
        }

        .sovellusteksti {
            max-width: 400px;
            margin-left: 50px;
        }

        .sovellusteksti a {
            color: #fff;
            text-decoration: none;
        }

        .footer a {
            color: #4CAF50;
            text-decoration: none;
        }
    </style>
</head>

<body>

<table cellpadding="0" cellspacing="0">
    <tr>
        <td align="left" valign="top">
            <p>{{ order.seller.company_name }}</p>
        </td>
        <td align="right" valign="top">
            <p>
                <a href="tel:{{ order.seller.phone }}">
                    {{ order.seller.phone }}
                </a>
                {{ order.seller.email }}
            </p>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" colspan="2">
            <img src="{{ order.seller.logo_filename }}" class="logo"/>
        </td>
    </tr>
    <tr>
        <td align="left" valign="top" colspan="2">
            <div mc:edit="right_content">
                {% block greeting %}
                {% endblock %}
                {% block content %}
                {% endblock %}
            </div>
        </td>
    </tr>
    {% block footer %}
        <tr>
            <td align="left" valign="center" colspan="2" class="sovellus">
                <h1><a href="https://hae.apteekkisovell.us" class="sovelluslinkki">Lataa Apteekki-sovellus</a></h1>
                <p class="sovellusteksti"><a href="https://hae.apteekkisovell.us">Kaikki apteekin tuotteet ostettavissa
                    helposti sovelluksella ja jatkuvia tarjouksia huipputuotteista.</a></p>
            </td>
        </tr>
        <tr>
            <td align="left" valign="top" class="footer">
                <p><a href="https://{{ order.seller.domain }}">{{ order.seller.domain }}</a></p>
                <p>

                <p>
                    <a href="tel:{{ order.seller.phone }}">
                        {{ order.seller.phone }}
                    </a>
                <p>
                    {% for address in order.seller.addresses %}
                        <address>
                            {{ address.street_address }}<br/>
                            {{ address.postal_code }} {{ address.postal_area }}<br/>
                        </address>
                    {% endfor %}
                </p>
            </td>
            <td align="right" valign="top" class="footer">
                <p>
                    {% for hour in order.seller.opening_hours_normal %}
                        {{ hour }}
                        <br/>
                    {% endfor %}
                </p>
            </td>
        </tr>
    {% endblock %}
</table>

</body>

</html>
