<!DOCTYPE html>
<html>
<head>
    <title>Kutsu käyttämään palvelua {{ service_name }}</title>
    <link href="https://fonts.googleapis.com/css?family=Mukta+Malar" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style type="text/css">
        html, body {
            background: #fff;
            text-align: center;
            font-family: 'Mukta Malar', sans-serif;
            padding: 0px;
            margin: 0px;
        }

        p {
            color: #616161;
        }

        h1, h2, h3 {
            color: #4CAF50;
        }

        a {
            text-decoration: none;
            color: #4CAF50;
        }
    </style>
</head>

<body>

&nbsp;&nbsp;&nbsp;&nbsp;Sinut on kutsuttu käyttäjäksi palveluun <a href="{{ service_url }}">{{ service_name }}</a>. <a href="{{ url_token }}">Klikkaa tästä rekisteröityäksesi.</a>

</body>

</html>
