{% extends "order_received_base.html" %}
{% block main_subheader %}
    {% if order.contains_prescription_medicine() %}
                        Tilaus sisältää reseptilääkkeitä, jonka takia se täytyy vahvistaa, ennen kuin tilauksen
                        käsittely voi jatkua.<br/><br/>
    {% else %}
                        Tilaus edellyttää apteekilta vahvistuksen ennen kuin tilauksen käsittely voi jatkua.<br/><br/>
    {% endif %}
{% endblock %}
{% block additional_content_footer %}
    {% if order.contains_prescription_medicine() %}
                        Tilaus sisältää reseptilääkkeen, joten se on tarkistettava apteekin toimesta. Saat toisen
                        sähköpostin, kun tilaus on tarkistettu, jonka jälkeen voit maksaa tilauksen.<br/>
    {% else %}
                        Tilaus edellyttää apteekilta vahvistuksen ennen kuin tilauksen käsittely voi jatkua. Saat toisen sähköpostin, kun tilaus on tarkistettu, jonka jälkeen voit maksaa tilauksen.<br/>
    {% endif %}
{% endblock %}