{% extends "order_received_base.html" %}

{% block additional_content_footer %}
        <p style="font-size: larger;">

        <strong>Maksutapa: <span
                style="float: right;"> {{ order.payment_type }}</span></strong>
    </p>
{% endblock %}
{% block footer %}
                <td align="left" valign="center" colspan="2" class="epharma">
{% endblock %}
