{% extends 'order_received_base.html' %}

{% block main_subheader %}
    <h2>
        Tilauksesi #{{ order.id }} on lähetetty.
    </h2>
    <h3>
        Lähetystiedot
    </h3>
    <p>
        {{ order.shipping_notes }}
    </p>
{% endblock %}
