{% extends "order_received_base.html" %}
{% block greeting %}
    <h2>{% if title %}{{ title }}{% else %}Hei{%endif%}, {{ order.buyer.first_name }}</h2>
{% endblock %}
{% block main_subheader %}
    <p style="font-size: larger;">
        Tilausnumero #{{ order.id }}
    </p>
{% endblock %}
{% block terms %}
    <p>
        {% if order.contains_medicine() %}
            <br>Lääketuotteilla ei ole palautusoikeutta (Kuluttajansuojalain 38/1978
            6 luvun 16§:n 4 mom.)
            <br>Ottakaa yhteyttä apteekkiin mikäli lähetys on virheellinen, lähetys
            on kuljetuksen aikana avattu, vahingoittunut, altistunut kuljetuslämpötilapoikkeamille tai on
            muuta syytä epäillä valmisteen olevan virheellinen.
        {% endif %}
        <br>
        Mikäli sinulla on kysyttävää tilauksenkäsittelyyn, toimituksiin ja
        palautuksiin liittyen, olethan yhteydessä puhelimitse {{ order.seller.phone }} tai sähköpostitse
        {{ order.seller.email }}.
    </p>
{% endblock %}
