{% extends "email_base.html" %}
{% block greeting %}
<h1>Hyvä {{ order.buyer.first_name }},</h1>
{% endblock %}
{% block content %}

{% block main_subheader %}
<h2>Tilaus # {{ order.id }} vastaanotettu.</h2>
{% endblock %}
<table width="100%">
    {% for line in order.product_lines %}
    <tr>
        <td>
            <b>{{ line.name }}</b>
            {% if line.product.medicine_strength %}
            <br>
            <nobr>Lääkkeen vahvuus: {{ line.product.medicine_strength }}'</nobr>
            {% endif %}
            {% if line.product.medicine_form %}
            <br>
            <nobr>Lääkemuoto: {{ line.product.medicine_form }}</nobr>
            {% endif %}
        </td>
        <td align="right">
            <nobr></nobr>
            <nobr>Veroton: {{ line.unit_price|round(2) }} &euro;</nobr>
            <br>
            <nobr>Alv {{ (line.vat * 100)|int }}%: {{ line.vat_total|round(2) }} &euro;</nobr>
            <br>
            <nobr>Yksikköhinta: {{ line.unit_price_with_vat|round(2) }} &euro;
                {% if line.prescription_handling_fee %}
                <br>
                <nobr>Toimitusmaksu: {{ line.prescription_handling_fee|round(2) }} &euro;
                </nobr>
                {% endif %}
            </nobr>
            <br/>
            {% if line.product.estimated_medicine_price_with_reimbursement %}
            <span style="font-size: larger; color: #4CAF50;">

                        <nobr>Arvioitu hinta KELA-korvauksen jälkeen:
                            {{ line.product.estimated_medicine_price_with_reimbursement[0]|round(2) }} -
                            {{ (line.product.estimated_medicine_price_with_reimbursement[1] * line.quantity)|round(2) }} &euro;
                        </nobr>
                        </span>
            {% endif %}
            <br>
        </td>
    </tr>
    <tr>
        <td>
            <nobr>Määrä: {{ line.quantity|int }}</nobr>
            <br>
        </td>
        <td style="text-align: right;">
            <nobr><strong>{{ line.total|round(2) }} &euro;</strong></nobr>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding-left: 6px;">
        </td>
    </tr>
    {% endfor %}
    {% for discount_code in order.discount_codes %}
    <tr>
        <td style="color: #111; font-size: 12px; font-weight: normal; line-height:20px; font-family: Helvetica, Arial, sans-serif;">
            Alennuskoodi: {{ discount_code.value }}
        </td>
        <td style="padding-right: 12px; text-align: right; color: #111; font-size: 12px; font-weight: normal; line-height:20px; font-family: Helvetica, Arial, sans-serif;">
            -{{ discount_code.value }}
        </td>
    </tr>
    {% endfor %}
    {% if order.delivery_method %}
    <tr>
        <td>
            Toimitus: {{ order.delivery_method }}
        </td>
        <td style="text-align: right;">
            {% if order.delivery_line %}
            <strong>{{ order.delivery_line.total|round(2) }} &euro;</strong>
            <br>
            <nobr>Alv {{ (order.delivery_line.vat * 100)|int }}%: {{ order.delivery_line.vat_total|round(2) }} &euro;
            </nobr>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding-left: 6px;">
        </td>
    </tr>
    {% endif %}
</table>
<p style="font-size: larger;">

    <strong>Tilauksen loppusumma: <span
            style="float: right;"> {{ order.final_price_with_vat|round(2) }} &euro;</span></strong>
</p>
{% block additional_content_footer %}{% endblock %}


{% block terms %}
{% endblock %}
{% endblock %}
