{% extends 'email_base.html' %}
{% block content %}

    <h2>
        Tilauksesi on hyväksytty.
    </h2>
    <p>
        Ole hyvä ja klikkaa alla näkyvää linkkiä maksaaksesi ostokset.<br/>
        <a href="https://{{ order.seller.domain }}/checkout/payOrder?order_id={{ order.id }}">
            https://{{ order.seller.domain }}/checkout/payOrder?order_id={{ order.id }}
        </a>
    </p>
{% endblock %}
